@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white dark:bg-gray-950 text-gray-900 dark:text-white m-0 p-0;
    scrollbar-gutter: stable;
  }
  
  html {
    @apply scroll-smooth;
  }
}